*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: #1e3f62;
  height: 400px;
}
a {
  color: white;
  text-decoration: none;
}
.centro{
  width: 85%;
  margin: 0 auto;
}
/* SEZIONE NAV BAR  */
#nav_bar{
  color: white;
  text-align: center;
}
#logo{
  display: inline-block;
  font-size: 50px;
  margin-right: 40px;
}
#ul{
  display: inline-block;
}
#li{
  display: inline-block;
  margin: 0 15px;
  font-size: 20px;
}
#login{
  display: inline-block;
  font-size: 20px;
  margin-left: 150px;
}
#button_log {
  margin-left: 20px;
  background-color: #1e3169;
  color: white}
#button_strut{
  margin-left: 20px;
  background-color: #3cb91d;
  color: white}
}
/* SEZIONE NAV BAR fine */
h2 {
  color: white;
}
